@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--white-rgb));
  -ms-overflow-style: none;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section {
  width: 100vw;
  height: 100vh;
}

.lottie__item_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -10;
}

#section1,
#section2 {
  padding: 100px;
}

.section__item__title {
  font-size: 3rem;
  font-weight: 700;
}

.section__item__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #aaa;
}

.second_section_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.second_section_img {
  width: 200px;
  height: 200px;
  background: #ddd;
  border-radius: 110px;
}
